@import "tailwindcss";

/* === DESIGN TOKENS === */
@theme {
    --color-deep-teal: #2F6F66;
    --color-deep-teal-hover: #2F6F66;;
    --color-charcoal-black: #121817;
    --color-soft-ivory: #E6ECE3;
    --color-burnt-terracotta: #A64A2A;
}

/* Optional: semantic aliases */
@theme {
    --color-brand-primary: var(--color-deep-teal);
    --color-brand-dark: var(--color-charcoal-black);
    --color-brand-light: var(--color-soft-ivory);
    --color-brand-accent: var(--color-burnt-terracotta);
}

/* App base styles */
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}
